

* {

        font-family: "Lucida Console", "Courier New", monospace;
      padding: 0%;
      margin:0;
}

.canyon {

    position:relative;
    padding:0%;
    max-width:100vw;
}



.serviceIntro {
    background-color: rgb(196, 223, 239);
    position:absolute;
    left: 40vw;
    top:0;
    padding:20%;
    padding-right: 1%;
    padding-left: 3%;
}