

* {

        font-family: "Lucida Console", "Courier New", monospace;
      padding: 0%;
      margin:0;
      
}



.canyon {

    
    
    position: relative;
    max-height: 100vh;
    
}



.serviceIntro{
    
    position:absolute;
    background-color:rgb(219, 230, 238);
    right:0;
    top:0%;
    bottom:66%;
    left:15rem;
    
    
}



.signUpForm {

    position:absolute;
    background-color:white ;
    left: 15rem;
    right:0;
    top:30%;
    bottom:33%;
    padding:10%;
    padding-right: 1%;
    padding-left: 3%;
    box-shadow: 10px 10px 5px rgb(198, 13, 13);
    
}

.createAccount {

    position:absolute;
    background-color:rgb(219, 230, 238);
    bottom:0%;
    left:15rem;
    right:0;
    top:66%;


}

.createAccountButton {


}